body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(60deg, #216c7c, #89c0cc);
    font-family: 'Signika', sans-serif;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
    background-color: #faf6f0;
}

#results {
  padding: 40px;
}

li {
  padding: 10px;
}
